
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-bottom: 32px;
  margin-top: 32px;
}

#extra-text {
  margin-top: 30px;
  text-align: center;
}

.content {
  background: rgba(0,0,0,0.6);
  padding: 40.px;
  border-radius: 10.px;
}
